<div *ngIf="errors && errors.length > 0" class="ui negative message transition">
  <div class="header">
    Error loading data
  </div>
  <i (click)="dismissErrorMessages()" class="close icon"></i>
  <ul class="list">
    <li *ngFor="let error of errors">{{ error.detail }}</li>
  </ul>
</div>

<div *ngIf="apiMessage" class="ui positive message float">
  <i (click)="dismissInformationMessages()" class="close icon"></i>
  <div class="header">
    Sentences
  </div>
  <p>{{ apiMessage }}</p>
</div>

<form class="ui large form segment">
  <h3 class="ui header">Construct a sentence</h3>

  <div class="field">
    <label for="wordtype">Word Type:</label>
    <select id="wordtype" name="wordtype" (change)="onWordTypeSelected(selectedWordType.value)" #selectedWordType>
      <option *ngFor="let wordType of wordTypes$ | async; index as i" [selected]="wordType.id === defaultWordType()" [value]="wordType.id">{{ wordType.value }}</option>
    </select>
  </div>
  <div class="field">
    <label for="word">Word:</label>
    <select id="word" name="word" #selectedWord>
      <option *ngFor="let word of words$ | async" [value]="word.id">{{ word.value }}</option>
    </select>
  </div>

  <button [disabled]="errors && errors.length > 0" (click)="addWordToSentence(selectedWord.value)" class="ui positive left button">
    Add Word
  </button>
  <button [disabled]="!currentSentenceAsString" (click)="removeLastWordFromSentence()" class="ui positive left button">
    Remove Last Word
  </button>
  <button [disabled]="!currentSentenceAsString" (click)="addSentence()" class="ui positive left button">
    Add Sentence
  </button>

  <div class="ui raised segment">{{ currentSentenceAsString }}</div>
</form>

<div class="ui grid sentences">
  <h2 class="ui icon header">
    <i class="comments icon"></i>
    <div class="content">
      Sentences
    </div>
  </h2>
  <div *ngIf="(sentences$ | async)?.length == 0" class="ui raised segment nosentences">    
    No sentences
  </div>
  <app-sentence (click)="deleteSentence(sentence.id)" class="sentence"
  *ngFor="let sentence of sentences$ | async"
  [sentence]="sentence" (deleteSentence$)="deleteSentence($event)"
  ></app-sentence>
</div>